In [1]:
import sqlite3
import pandas as pd

In [2]:
dw_df = pd.read_csv("Resources/dropped_water.csv")

dw_df.head()

,ph,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,3.716080,129.422921,18630.057858,6.635246,592.885359,15.180013,56.329076,4.500656,0
1,8.099124,224.236259,19909.541732,9.275884,418.606213,16.868637,66.420093,3.055934,0
2,8.316766,214.373394,22018.417441,8.059332,363.266516,18.436524,100.341674,4.628771,0
3,9.092223,181.101509,17978.986339,6.546600,398.410813,11.558279,31.997993,4.075075,0
4,5.584087,188.313324,28748.687739,7.544869,280.467916,8.399735,54.917862,2.559708,0

In [3]:

# Connect to SQLite database (or create if it doesn't exist)
conn = sqlite3.connect('dropped_water.db')

# Write DataFrame to SQLite database
dw_df.to_sql('dropped_water_data', conn, if_exists='replace')

# Commit changes and close connection
conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('dropped_water.db')

# Read data from SQLite into a Pandas DataFrame
dw_df = pd.read_sql_query("SELECT * FROM dropped_water_data", conn)

# Close the connection
conn.close()

# Display the DataFrame
dw_df.head()

,index,ph,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0,3.716080,129.422921,18630.057858,6.635246,592.885359,15.180013,56.329076,4.500656,0
1,1,8.099124,224.236259,19909.541732,9.275884,418.606213,16.868637,66.420093,3.055934,0
2,2,8.316766,214.373394,22018.417441,8.059332,363.266516,18.436524,100.341674,4.628771,0
3,3,9.092223,181.101509,17978.986339,6.546600,398.410813,11.558279,31.997993,4.075075,0
4,4,5.584087,188.313324,28748.687739,7.544869,280.467916,8.399735,54.917862,2.559708,0

In [5]:
pw_df = pd.read_csv("Resources/predicted_water.csv")

pw_df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.173718,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,345.488920,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,334.268199,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [8]:
# Connect to SQLite database (or create if it doesn't exist)
conn = sqlite3.connect('predicted_water.db')

# Write DataFrame to SQLite database
pw_df.to_sql('predicted_water_data', conn, if_exists='replace')

# Commit changes and close connection
conn.commit()
conn.close()

In [10]:
conn = sqlite3.connect('predicted_water.db')

# Read data from SQLite into a Pandas DataFrame
pw_df = pd.read_sql_query("SELECT * FROM predicted_water_data", conn)

# Close the connection
conn.close()

# Display the DataFrame
pw_df.head()

,index,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,0,7.173718,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,1,3.716080,129.422921,18630.057858,6.635246,345.488920,592.885359,15.180013,56.329076,4.500656,0
2,2,8.099124,224.236259,19909.541732,9.275884,334.268199,418.606213,16.868637,66.420093,3.055934,0
3,3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0